<div class="left_col scroll-view">
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">

            <div id="nav-ProjectTest-logo" class="ProjectTest-logo-container">
                <img src="/content/images/ProjectTest.svg" onerror="this.onerror=null; this.src='/content/images/ProjectTest-logo.png'">

            </div>
            <!-- <h3>General</h3> -->
            <ul class="nav">
                <li class=""><a href="/client/dashboard">Dashboard</a></li>
                <li><a href="/client/appointment">Appointments</a></li>
                <li><a href="#">Diaries</a></li>
                <li><a href="/client/checkavailability">Check Availability</a></li>
                <li><a href="#">Referrer</a></li>
                <li><a href="#">Service Reporting</a></li>
                <li><a href="#">Business Reporting</a></li>
                <li><a href="/client/qa/list">QA</a></li>
            </ul>
            <ul class="nav ">
                <li><a href="/client/service/category">Services</a></li>
                <li><a href="/client/location">Locations</a></li>
                <li><a href="#">Staff</a></li>
            </ul>
            <ul class="nav ">
                <li><a href="#">Feeds</a></li>
                <li><a href="/client/user">User management</a></li>
                <li><a href="#">Support</a></li>
            </ul>
            <ul class="nav ">
                <li><a href="#">Master Admin</a></li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <div class="sidebar-footer-icon-section">

            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="/account/login">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <!-- /menu footer buttons -->
</div>