@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>

<form method="post" asp-controller="Security" asp-action="Login"
      asp-route-returnurl="@Model.ReturnUrl">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" value="Admin" />
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" value="test123" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />
        <span asp-validation-for="RememberMe"></span>
    </div>
    <input type="submit" value="Login" />
</form>       